.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  background-color: #ecf6f2;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 20px;
}

h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.5;
}

p {
  max-width: 70ch;
  margin-bottom: 10px;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
}

.color-heading {
  color: #2f0707;
  text-align: center;
  border-radius: 0;
  margin-top: 75px;
  font-family: Ownerstrialwide bf64361ef5bf162, sans-serif;
  font-size: 4rem;
  font-weight: 400;
}

.heading-2 {
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 77px;
  font-weight: 800;
}

.section {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: auto;
}

.paragraph {
  margin-top: 1rem;
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.75;
}

.div-block {
  width: 300px;
  height: 100vh;
  border: 2px solid #ff7575;
  margin-top: 0;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  overflow: visible;
}

.link-block {
  display: block;
}

.text-block {
  color: #2f0707;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .color-heading {
    font-size: 2.5rem;
  }

  .text-block {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}

#w-node-ff74b535-7f64-5df6-6bc1-51c48233c4d0-7bfa63e2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Ownerstrialwide bf64361ef5bf162';
  src: url('../fonts/OwnersTRIALWide-Bold-BF64361ef5bf162.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}